:root {
  --dark-shades: #0B1320;
  --dark-accent: #1C3F60;
  --main-brand: #3d83c4;
  --light-accent: #AFC1D0;
  --light-shades: #F3F6FA;
}

body {
  background-color: var(--light-shades);
  font-family: 'Poiret One', cursive;
  font-size: 16px;
}

header {
  display: inline-flex;
  height: 35vh;
}

.logo {
  position: relative;
  box-sizing: border-box;
}

img {
  position: absolute;
  top: -3rem;
  left: -3rem;
  border-radius: 30px;
  width: 300px;
  height: 300px;
}

h1 {
  margin: 130px 0 auto 250px;
  color: var(--dark-accent);
}

.subheader {
  margin: 20px 10px 30px 40px;
  color: var(--main-brand);
}

textarea {
  padding: 30px;
  background: transparent;
  resize: none;
  border: 1px solid var(--light-accent);
  padding: 10px;
  color: var(--dark-accent);
}

.lead {
  margin-left: 160px;
  font-size: 18px;
  color: var(--light-accent);
}

.today {
  margin-left: 9px;
  font-size: 18px;
}

.past,
.present,
.future,
.saveBtn {
  color: var(--light-shades);
}

.description {
  white-space: pre-wrap;
}

.main {
  margin: 0 10px;
  padding: 0 10px;
}

::placeholder {
  color: var(--light-accent);
  padding-top: 10px;
}

textarea:focus {
  outline: var(--light-accent);
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  margin: 10px 20px;
  border: 1px solid var(--light-accent);
}

.hour {
  border: 1px solid var(--light-accent);
  border-right: 1px solid black;
  background-color: var(--light-accent);
  color: var(--light-shades);
  padding-top: 20px;
  padding-left: 30px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.past {
  background-color: var(--dark-shades);
}

.present {
  background-color: var(--main-brand);
}

.future {
  background-color: var(--light-accent);
}

#save {
  border-left: 1px solid var(--light-accent);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--dark-accent);
  font-weight: lighter;
}

#save,
#save i {
  color: var(--light-shades);
}

#save i {
  margin-right: 5px;
}

#save i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

footer p {
  margin-top: 20px;
  font-weight: lighter;
  text-align: center;
  color: var(--main-brand)
}