:root {
  --dark-shades: #0B1320;
  --dark-accent: #1C3F60;
  --main-brand: #3d83c4;
  --light-accent: #AFC1D0;
  --light-shades: #F3F6FA;
}

body {
  background-color: var(--light-shades);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

header {
  display: inline-flex;
  height: 35vh;
}

.logo {
  position: relative;
  box-sizing: border-box;
}

img {
  position: absolute;
  top: -3rem;
  left: -3rem;
  border-radius: 30px;
  width: 300px;
  height: 300px;
}

h1 {
  margin: 130px 0 auto 250px;
  color: var(--dark-accent);
}

.subheader {
  margin: 20px 0 30px 40px;
  color: var(--main-brand);
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  border-left: 1px solid black;
  padding: 10px;
}

textarea,
.past,
.present,
.future,
.saveBtn {
  color: var(--light-shades);
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: var(--light-accent);
}

.present {
  background-color: var(--dark-accent);
}

.future {
  background-color: var(--dark-shades);
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: var(--main-brand);
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}