:root {
  --dark-shades: #0B1320;
  --dark-accent: #1C3F60;
  --main-brand: #507394;
  --light-accent: #AFC1D0;
  --light-shades: #F3F6FA;
}

body {
  background-color: var(--light-shades);
  font-family: 'Poiret One', cursive;
}

header {
  display: inline-flex;
  height: 35vh;
}

img {
  width: 300px;
  height: 300px;
}

h1 {
  margin-top: 175px;
  color: var(--dark-accent);
}

header p {
  margin: 20px 0 0 180px;
  font-size: 18px;
}

header p,
section,
footer p {
  color: var(--main-brand);
}

section {
  margin: 40px 0 30px 30px;
}

#currentDay {
  font-size: 20px;
}

#planner {
  margin: 5px 20px 10px 14px;
  box-shadow: 0 3px 5px 5px var(--main-brand);
  width: 98%;
  padding: 5px 7px;
}

#planner,
.row {
  border-radius: 15px;
}

.row {
  margin: 5px 0;
  box-shadow: 0 2px 5px var(--light-accent);
}

.hour {
  padding-top: 20px;
  font-size: 20px;
  padding-left: 20px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.hour,
textarea,
button,
i {
  color: var(--light-shades);
}

textarea {
  /* Border, outline, and resize as 'none' to ensure the background color is uniform and clean */
  border: none;
  outline: none;
  resize: none;
  /* To increase the size of the textarea */
  padding: 10px;
  /* Needs to be transparent so that the color can be applied */
  background: transparent;
  font-size: 20px;
}

.past {
  background-color: var(--light-accent);
}

.present {
  background-color: var(--main-brand);
}

.future {
  background-color: var(--dark-accent);
}

button {
  transition: 0.5s;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background: linear-gradient(45deg, var(--light-accent), var(--main-brand), var(--dark-accent));
  background-size: 200%;
  border: none;
}

button:hover {
  /* Creates an animation when hovering */
  transition: 0.5s ease-out;
  background-position: right center;
  font-size: 17px;
}

i {
  margin-right: 5px;
}

footer p {
  margin-top: 40px;
  text-align: center;
}